.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid black;
    height: 10vh;
}

.header__logo {
    font-size: 26px;
    font-weight: bold;
}
