.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 10vh;
    border-bottom: 1px solid black;
}

.header__logo {
    font-size: 28px;
    font-weight: bold;
}
