* {
    margin: 0;
    padding: 0;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 338px;
    margin: 0 auto;
}

.back-btn {
    cursor: pointer;
    text-decoration: none;
}