* {
    margin: 0;
    padding: 0;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 338px;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}