.schedule-container {
    border: 0.5px solid #f8f8f8;
    height: 100%;
    background-color: rgba(248, 248, 248, 1);
    border-radius: 24px;
}

.schedule-container__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55px;
    /* border: 1px solid black; */
}

/* 헤더 날짜 부분 */

.header__day {
    font-size: 28px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.2);
}

.header__today {
    font-size: 32px;
    color: #3A86FF;
    font-weight: 500;
}

.schedule-container__content {
    position: relative;
    top: 20px;
}

.schedule__frame {
    display: flex;
    justify-content: space-around;
}