* {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
}

tr {
    display: block;
    float: left;
}

th,td {
    display: block;
    width: 55px;
    text-align: center;
    color: #fff;
    padding: 5px;
    font-size: 13.5px;
}

.schedule_header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 8px;
    margin-bottom: 13px;
    border-bottom: 0.5px solid white;
}

.schedule_header td {
    color: #fff;
    font-weight: bold;
}

.daily {
    list-style: none;
}

.schedule_main {
    display: flex;
    justify-content: space-around;
}

.loading {
    position: relative;
    top: 60px;
    text-align: center;
    color: #fff;

}
