.drop-down-btn {
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: "#F8F8F8";
    font-size: 20px;
    font-weight: 500;
    border-radius: 18px;
    padding: 8px;
    cursor: pointer;
}

.grade-item {
    margin-right: 4px;
}

/* drop-down-items */

.drop-down-items {
    list-style: none;
    position: absolute;
    z-index: 1;
    border-radius: 18px;
    background-color: #EFEFEF;
    width: 95px;
}

.drop-down-item {
    text-align: center;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    padding: 4px;
    width: 100%;
    border-radius: 18px;
}

.drop-down-hidden {
    display: none;
}

.drop-down-item:hover {
    background-color: #fff;
}