.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

/* main-content */

.main-content {
    width: 60vw;
    height: 550px;
}

/* main-content-header */

.main-content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 20px;
}

.content-header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.logo__title {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 10px;
}

.logo__title > img {
    height: 28px;
}

.title__text {
    margin-right: 10px;
}

/* content-frame */

.main-content-frame {
    height: 480px;
    margin-top: 30px;
}

@media (max-width: 768px) {  
    .main-content {
        width: 100%;
        height: 100%;
    }  
    .main-content-header {
        position: relative;
        top: 30px;
    }
    .logo__title {
        font-size: 28px;
    }

    .logo__title > img {
        height: 18px;
    }
}

@media (max-width: 480px) {
    .logo__title {
        font-size: 26px;
    }
}

@media (max-width: 400px) {
    .logo__title {
        font-size: 24px;
    }
}