.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

/* main-content */

.main-content {
    width: 60vw;
    height: 550px;
}

/* main-content-header */

.main-content-header{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    height: 70px;
    padding: 20px;
}

.content-header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.logo__title {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.logo__title > img {
    height: 28px;
}

.title__text {
    margin-right: 10px;
}

/* content-frame */

.main-content-frame {
    height: 480px;
    padding: 20px;
}