.notice-btn-content {
    margin-bottom: 20px;
}

.notice-board {
    width: 338px;
    height: 110px;
    border-radius: 15px;
    padding: 16px;
    background-color: #fb5607;
}

.notice-text-box {
    position: relative;
    top: 20px;
}

.notice-text-content {
    font-size: 23px;
    font-weight: bold;
    color: white;
}
.notice-content-sub-text {
    color: #fff;
}