.meal-content {
    width: 338px;
    height: 180px;
}

.meal-content > div {
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 3.84px;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 4px;
}

.meal-title {
    text-align: center;
    margin: 10px;
}

.meal-list > ul {
    text-align: center;
    margin: 8px;
}

.meal-list > ul > li {
    list-style: none;
}